@font-face {
    font-family: 'robotomedium';
    src: url("Roboto-Medium-webfont.eot"/*tpa=http://1popov.ru/disc83/fonts/roboto_medium_cyrillic/Roboto-Medium-webfont.eot*/);
    src: url("Roboto-Medium-webfont.eot-#iefix"/*tpa=http://1popov.ru/disc83/fonts/roboto_medium_cyrillic/Roboto-Medium-webfont.eot?#iefix*/) format('embedded-opentype'),
         url("Roboto-Medium-webfont.woff"/*tpa=http://1popov.ru/disc83/fonts/roboto_medium_cyrillic/Roboto-Medium-webfont.woff*/) format('woff'),
         url("Roboto-Medium-webfont.ttf"/*tpa=http://1popov.ru/disc83/fonts/roboto_medium_cyrillic/Roboto-Medium-webfont.ttf*/) format('truetype'),
         url("Roboto-Medium-webfont.svg#robotomedium"/*tpa=http://1popov.ru/disc83/fonts/roboto_medium_cyrillic/Roboto-Medium-webfont.svg#robotomedium*/) format('svg');
    font-weight: normal;
    font-style: normal;

}

